# yaml-language-server: $schema=https://kubernetesjsonschema.dev/v1.14.0/deployment-apps-v1.json
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarr
  labels:
    app: sonarr
spec:
  strategy:
    type: Recreate
  replicas: 1
  selector:
    matchLabels:
      app: sonarr
  template:
    metadata:
      labels:
        app: sonarr
    spec:
      containers:
        - name: sonarr
          image: ghcr.io/linuxserver/sonarr:4.0.16 # {"$imagepolicy": "flux-system:sonarr"}
          imagePullPolicy: Always
          ports:
            - containerPort: 8989
              protocol: TCP
              name: http
          envFrom:
            - configMapRef:
                name: linuxserver-common
                optional: false
